<h1>My Favorite Movies</h1>
<nav><a href="/"> Home </a>
    <a href="/bladerunner"> Blade Runner </a>
    <a href="/casablanca"> Casablanca </a>
    <a href="/onthewaterfront"> On The Waterfront </a>
    <a href="/thebiglebowski"> The Big Lebowski </a>
</nav>