<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<style>
    #home-img-container{
        background-image: url("<%= image %>");
    }

</style>
<body id = "home-body">
<%- include('partials/nav.ejs') %>
<main>
    <div id = "home-img-container">
        <div id = "home-text">
            <h2>Welcome</h2>
            <p> Explore the movies that have shaped my love for film. </p>
        </div>

    </div>
</main>

    
    <%- include('partials/footer.ejs') %>
</body>
</html>