* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home-body{
    background-color: black;
}

body {
    background-color: #c9c9c9;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


h1 {
    background-color: black;
    font-size: 3em;
    color: #E50914;
    padding: 10px;
}

h2 {
    font-size: 2.2em;
}

h3{
    font-size: 1.5em;
}

#home-img-container{
    background-size: cover;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-text {
    max-width: 800px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    color: white;
}

#home-text h2{
    font-size: 3em;
}

#home-text p {
    font-size: 2em;
}

.information-container{
    max-width: 720px;
    margin: 0 auto;
}

nav {
    background-color: rgb(0, 0, 0);
    font-size: 1.8em;
    margin-bottom: 20px;
    color: white;
    
}

nav a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 2px solid transparent;
    display: inline-block;
}

nav a:hover {
    border: 2px rgb(255, 255, 255) solid;
    background-color: gray;
}

nav a:link, nav a:visited {
    color: white;
}

h2,img, h3 {
    margin-bottom: 20px;
}

p{
    text-align: left;
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 10px;

}

footer {
    margin-top: 30px;
    background-color: black;
    color: white;
}


